* {
	padding:0;
	margin:0;
	list-style:none;
}

body{
	font-family: Arial, Verdana, sans-serif; 
	font-size:75%;
	color:white;
	background-color:#333;
}
h1{
	background:#000 url(/display_images/l4d_logo.jpg) 20px 50% no-repeat;
	padding:0 0 15px 220px;
	line-height:70px;
	border-bottom:1px solid #666;
	font-size:2em;
}
h2{
	margin:10px 0;
	font-size:1.5em;
	padding-right:20px;
}
a,a:link,a:visited,a:active{
	color:#CCC;
}
div#noscriptwarning{
	padding:5px 20px;
	background-color:red;
	font-weight:bold;
}

#wrapper{
	padding:20px;
	width:740px;
	margin-left:auto;
	margin-right:auto;
}
form#connect{
	width:200px;
	margin-left:auto;
	margin-right:auto;
	background-color:#444;
	padding:15px;
	border:1px solid #555;
}
	form#connect input,form#connect label{
		font-size:1.5em;
	}
		form#connect input{
			margin-bottom:10px;
		}
#common{
	overflow:hidden;
	width:100%;
}
#serverstatus{}
	#serverstatus h2{
		width:120px;
	}
	#userlist{
		display:none;
	}
		#userlist table{
			width:100%;
		}
			#userlist th, #userlist td{
				padding:3px;
			}
			#userlist th{
				text-align:left;
				background-color:#777;
			}
#maincontrols{
	overflow:hidden;
	width:100%;
}
#console{
	width:630px;
}
	#console form.command{
		border:0;
		padding:0;
		background:none;
		width:auto;
	}
		#console form.command input, #console form.command label{
			display:inline;
			clear:none;
			width:auto;
		}
			#console form.command input{
				width:400px;
			}
				#console form.command input.submit{
					width:auto;
				}
	#consolelog{
		background-color:black;
		padding:10px;
		font-family:Arial;
		font-size:1em;
		color:white;
		height:200px;
		position:relative;
		overflow:auto;
		border:1px solid #666;
	}
		#consolelog div{
			padding:5px 0;
			border-bottom:1px solid #333
		}
#footer{
	padding:20px;
	width:740px;
	margin-left:auto;
	margin-right:auto;
}
	
form.command{
	background-color:#666;
	padding:5px;
	border:1px solid #888;
	float:left;
	width:200px;
	margin:0 10px 10px 0;
}
	label{
		color:#CCC;
		display:block;
		margin:0 0 3px 0;
	}
	input, select{
		display:block;
		margin: 0 0 5px 0;
	}
		form.command input, form.command select{
			width:100%;
		}
		form.command input.submit{
			width:auto;
		}
		
dl{
	overflow:hidden;
	width:400px;
}
	dt{
		color:#aaa;
		font-weight:strong;
		float:left;
		clear:left;
		width:100px;
	}
	dd{
		float:left;
		width:300px;
	}
	
.working{
	background:#FFFFFF url(/display_images/working.gif) right center no-repeat;
}
.working-grey{
	background:url(/display_images/working-grey.gif) right center no-repeat;
}
.success{
	color:green;
}
.failure{
	color:red;
}
.help{
	font-size:0.8em;
}